.DS_Store
node_modules
/dist
/build
/build-dist
/coverage

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/src/KgmWasm/build
/src/KgmWasm/*.js
/src/KgmWasm/*.wasm
/src/QmcWasm/build
/src/QmcWasm/*.js
/src/QmcWasm/*.wasm

*.zip
*.tar.gz
/sha256sum.txt
builid-dist/.icon-icns/icon.icns
builid-dist/builder-debug.yml
builid-dist/builder-effective-config.yaml
builid-dist/latest-mac.yml
builid-dist/latest.yml
builid-dist/mac-arm64/音乐解锁.app/Contents/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Electron Framework
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Helpers
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Libraries
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Resources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Electron Framework
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Helpers/chrome_crashpad_handler
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libEGL.dylib
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libffmpeg.dylib
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libGLESv2.dylib
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/libvk_swiftshader.dylib
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Libraries/vk_swiftshader_icd.json
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/af.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/am.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ar.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/bg.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/bn.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ca.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/chrome_100_percent.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/chrome_200_percent.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/cs.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/da.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/de.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/el.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/en.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/en_GB.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/es.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/es_419.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/et.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fa.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fi.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fil.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/fr.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/gu.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/he.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/hi.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/hr.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/hu.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/icudtl.dat
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/id.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/it.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ja.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/kn.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ko.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/lt.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/lv.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/MainMenu.nib
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ml.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/mr.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ms.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/nb.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/nl.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/pl.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/pt_BR.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/pt_PT.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/resources.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ro.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ru.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sk.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sl.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sr.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sv.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/sw.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ta.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/te.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/th.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/tr.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/uk.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/ur.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/v8_context_snapshot.arm64.bin
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/vi.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/zh_CN.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/A/Resources/zh_TW.lproj/locale.pak
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Electron Framework.framework/Versions/Current
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Mantle.framework/Mantle
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Mantle.framework/Resources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Mantle.framework/Versions/A/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Mantle.framework/Versions/A/Mantle
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Mantle.framework/Versions/A/Resources/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Mantle.framework/Versions/Current
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/ReactiveObjC.framework/ReactiveObjC
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/ReactiveObjC.framework/Resources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/ReactiveObjC.framework/Versions/A/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/ReactiveObjC.framework/Versions/A/ReactiveObjC
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/ReactiveObjC.framework/Versions/A/Resources/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/ReactiveObjC.framework/Versions/Current
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Squirrel.framework/Resources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Squirrel.framework/Squirrel
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Squirrel.framework/Versions/A/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Squirrel.framework/Versions/A/Resources/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Squirrel.framework/Versions/A/Resources/ShipIt
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Squirrel.framework/Versions/A/Squirrel
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/Squirrel.framework/Versions/Current
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (GPU).app/Contents/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (GPU).app/Contents/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (GPU).app/Contents/MacOS/音乐解锁 Helper (GPU)
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (GPU).app/Contents/PkgInfo
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Plugin).app/Contents/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Plugin).app/Contents/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Plugin).app/Contents/MacOS/音乐解锁 Helper (Plugin)
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Plugin).app/Contents/PkgInfo
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Renderer).app/Contents/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Renderer).app/Contents/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Renderer).app/Contents/MacOS/音乐解锁 Helper (Renderer)
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper (Renderer).app/Contents/PkgInfo
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper.app/Contents/_CodeSignature/CodeResources
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper.app/Contents/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper.app/Contents/MacOS/音乐解锁 Helper
builid-dist/mac-arm64/音乐解锁.app/Contents/Frameworks/音乐解锁 Helper.app/Contents/PkgInfo
builid-dist/mac-arm64/音乐解锁.app/Contents/Info.plist
builid-dist/mac-arm64/音乐解锁.app/Contents/MacOS/音乐解锁
builid-dist/mac-arm64/音乐解锁.app/Contents/PkgInfo
builid-dist/mac-arm64/音乐解锁.app/Contents/Resources/app-update.yml
builid-dist/mac-arm64/音乐解锁.app/Contents/Resources/app.asar
builid-dist/mac-arm64/音乐解锁.app/Contents/Resources/icon.icns
builid-dist/win-unpacked/chrome_100_percent.pak
builid-dist/win-unpacked/chrome_200_percent.pak
builid-dist/win-unpacked/d3dcompiler_47.dll
builid-dist/win-unpacked/ffmpeg.dll
builid-dist/win-unpacked/icudtl.dat
builid-dist/win-unpacked/libEGL.dll
builid-dist/win-unpacked/libGLESv2.dll
builid-dist/win-unpacked/LICENSE.electron.txt
builid-dist/win-unpacked/LICENSES.chromium.html
builid-dist/win-unpacked/locales/af.pak
builid-dist/win-unpacked/locales/am.pak
builid-dist/win-unpacked/locales/ar.pak
builid-dist/win-unpacked/locales/bg.pak
builid-dist/win-unpacked/locales/bn.pak
builid-dist/win-unpacked/locales/ca.pak
builid-dist/win-unpacked/locales/cs.pak
builid-dist/win-unpacked/locales/da.pak
builid-dist/win-unpacked/locales/de.pak
builid-dist/win-unpacked/locales/el.pak
builid-dist/win-unpacked/locales/en-GB.pak
builid-dist/win-unpacked/locales/en-US.pak
builid-dist/win-unpacked/locales/es-419.pak
builid-dist/win-unpacked/locales/es.pak
builid-dist/win-unpacked/locales/et.pak
builid-dist/win-unpacked/locales/fa.pak
builid-dist/win-unpacked/locales/fi.pak
builid-dist/win-unpacked/locales/fil.pak
builid-dist/win-unpacked/locales/fr.pak
builid-dist/win-unpacked/locales/gu.pak
builid-dist/win-unpacked/locales/he.pak
builid-dist/win-unpacked/locales/hi.pak
builid-dist/win-unpacked/locales/hr.pak
builid-dist/win-unpacked/locales/hu.pak
builid-dist/win-unpacked/locales/id.pak
builid-dist/win-unpacked/locales/it.pak
builid-dist/win-unpacked/locales/ja.pak
builid-dist/win-unpacked/locales/kn.pak
builid-dist/win-unpacked/locales/ko.pak
builid-dist/win-unpacked/locales/lt.pak
builid-dist/win-unpacked/locales/lv.pak
builid-dist/win-unpacked/locales/ml.pak
builid-dist/win-unpacked/locales/mr.pak
builid-dist/win-unpacked/locales/ms.pak
builid-dist/win-unpacked/locales/nb.pak
builid-dist/win-unpacked/locales/nl.pak
builid-dist/win-unpacked/locales/pl.pak
builid-dist/win-unpacked/locales/pt-BR.pak
builid-dist/win-unpacked/locales/pt-PT.pak
builid-dist/win-unpacked/locales/ro.pak
builid-dist/win-unpacked/locales/ru.pak
builid-dist/win-unpacked/locales/sk.pak
builid-dist/win-unpacked/locales/sl.pak
builid-dist/win-unpacked/locales/sr.pak
builid-dist/win-unpacked/locales/sv.pak
builid-dist/win-unpacked/locales/sw.pak
builid-dist/win-unpacked/locales/ta.pak
builid-dist/win-unpacked/locales/te.pak
builid-dist/win-unpacked/locales/th.pak
builid-dist/win-unpacked/locales/tr.pak
builid-dist/win-unpacked/locales/uk.pak
builid-dist/win-unpacked/locales/ur.pak
builid-dist/win-unpacked/locales/vi.pak
builid-dist/win-unpacked/locales/zh-CN.pak
builid-dist/win-unpacked/locales/zh-TW.pak
builid-dist/win-unpacked/resources.pak
builid-dist/win-unpacked/resources/app-update.yml
builid-dist/win-unpacked/resources/app.asar
builid-dist/win-unpacked/resources/elevate.exe
builid-dist/win-unpacked/snapshot_blob.bin
builid-dist/win-unpacked/v8_context_snapshot.bin
builid-dist/win-unpacked/vk_swiftshader.dll
builid-dist/win-unpacked/vk_swiftshader_icd.json
builid-dist/win-unpacked/vulkan-1.dll
builid-dist/win-unpacked/音乐解锁.exe
builid-dist/音乐解锁 Setup 1.10.3.exe
builid-dist/音乐解锁 Setup 1.10.3.exe.blockmap
builid-dist/音乐解锁-1.10.3-arm64.dmg
builid-dist/音乐解锁-1.10.3-arm64.dmg.blockmap
builid-dist/音乐解锁-1.10.3-win.7z
